.div-style {
    height: 400px;
    width: 100%;
    background:url("testimg.PNG");
    background-repeat: repeat-x;
    position: fixed;
    bottom: -200px;
    z-index: -1;
}

.form-style{
    display: flex;
    justify-content: space-between;
}
.form-label{
    font-weight: bolder;
    font-family: sans-serif, Verdana;
}

form{
    width: 27%;
}

.form-input{
    border: 1px solid green;
}


.form-input:active
{
    border: 2px solid green;

}
.form-input:focus
{
    border: 2px solid green;

}
.form-input:focus-visible
{
    border: 2px solid green;
}

#submit{
    width: 70px;
    border: 1px solid red;
    background-color: #d5e9d5;
    font-weight: bolder;
    padding: 5px;
}


#submit:hover{
    border: 1px solid #3986f3;
    background-color: #e8419c;
    font-weight: bolder;
}